@font-face {
    font-face-name: Ori;
    font-family: Ori;
    src: url("../font/LEVIBRUSH.TTF");
}

/*==========================================*/
/*Main Title*/
.parallax-container {
    font-size: 5.5vw;
    width: 100vw;
    height: 40vw;
    max-height: 700px;
    min-height: 400px;
}

/*==========================================*/


