@font-face {
    font-face-name: Ori;
    font-family: Ori;
    src: url("../font/LEVIBRUSH.TTF");
}

body {
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#53cbf1+0,e0f5f6+100 */
    background: #53cbf1; /* Old browsers */
    background: -moz-linear-gradient(top,  #53cbf1 0%, #e0f5f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #53cbf1 0%,#e0f5f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #53cbf1 0%,#e0f5f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53cbf1', endColorstr='#e0f5f6',GradientType=0 ); /* IE6-9 */
}

/*==========================================*/
/*Main Title*/
.parallax-container {
    font-size: 5.5vw;
}

#mainTitle {
    width: 100%;
    margin-top: 300px;
    text-align: center;
    font-family: Ori;
    font-size: 100%;
    text-shadow: 3px 3px #0004ff;
    color: white;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; margin-top: 100px;}
    to   { opacity: 1; margin-top: 300px;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; margin-top: 100px;}
    to   { opacity: 1; margin-top: 300px;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; margin-top: 100px;}
    to   { opacity: 1; margin-top: 300px;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; margin-top: 100px;}
    to   { opacity: 1; margin-top: 300px;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; margin-top: 100px;}
    to   { opacity: 1; margin-top: 300px;}
}

.mainTitleText{
    display: inline-block;
    width: 100%;
    font-size: 4.5vw;
}



/*==========================================*/
/*Map selection Table*/
#mainTableDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#mainNavTable {
    margin: auto;
    width: 100%;
    height:  100%;
    padding: 10px;
    text-align: center;
}

.mainNavZone{
    position: relative;
    height: 100%;
}

.mainNavZone a {
    text-decoration: none;
    color: black;
}

.mainFadeUp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.3;
    background: white;
    display: none;
}

.mainPic {
    max-height: inherit;
    width: 100%;
}

.mainZoneTitle {
    font-family: Ori;
    font-size: 1.8vw;
    text-align: center;
    width: 100%;
}