@font-face {
    font-face-name: Ori;
    font-family: Ori;
    src: url("../font/LEVIBRUSH.TTF");
}

html, body {
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d1e58+0,000000+100 */
    background: #1d1e58; /* Old browsers */
    background: -moz-linear-gradient(top,  #1d1e58 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1d1e58 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1d1e58 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1e58', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#map {
    width: 100%;
    height: 60%
}

#mapTitle{
    width: 70%;
    height: 5%;
    margin:0.5vw auto 1.5vw auto;
    text-align: center;
    font-family: Ori;
    font-size: 3.5vw;
    text-shadow: 0px 0px 1.5vw #fff302;
    color: white;
}

#controlPanel{
    width: 70%;
    margin:0 auto;
}

.controlButton{
    text-align: center;
    font-size: 3.5vw;
    color: #5e48e9;
    cursor: default;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}