@font-face {
    font-face-name: Ori;
    font-family: Ori;
    src: url("../font/LEVIBRUSH.TTF");
}

@font-face {
    font-face-name: Moon;
    font-family: Moon;
    src: url("../font/Moon_Flower.ttf");
}

@font-face {
    font-face-name: MoonBold;
    font-family: MoonBold;
    src: url("../font/Moon_Flower_Bold.ttf");
}

html, body {
    min-height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d1e58+0,000000+100 */
    background: #1d1e58; /* Old browsers */
    background: -moz-linear-gradient(top,  #1d1e58 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1d1e58 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1d1e58 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1e58', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
/*Add borders in between table rows*/
tr{
    border: solid;
    border-color: white;
    border-width: 2px 0;
}
tr:first-child {
    border-top: none;
}

#map {
    width: auto;
    min-height: 600px;
}
/*Control table stuffs*/
#mapTitle{
    width: 70%;
    height: 5%;
    margin:0.5vw auto 1.5vw auto;
    text-align: center;
    font-family: Ori, Times, serif;
    font-size: 3.5vw;
    text-shadow: 0 0 1.5vw #fff302;
    color: white;
}

#controlTable tr, #controlTable td{
    padding: 0 0;
}

#controlTitle{
    text-align: center;
    font-family: MoonBold, Times, serif;
    font-size: 2.5vw;
    color: #ffffff;
    cursor: default;
    width: 100%;
    padding: 0;
}

.controlLabel{
    display: block;

    text-align: center;
    font-family: Moon, Times, serif;
    font-size: 2.5vw;
    color: #bdbfe9;
    cursor: default;
}

#controlPanel{
    width: 70%;
    margin:0 auto 0 auto;
}

.controlSpacer{
    padding: 10px;
}

.controlCheck[type="checkbox"]{
    display: none;
}

.buttonIcon{
    width: 3vw;
    vertical-align:middle;
}

.controlButton:hover .buttonIcon{  /*tilde tells css to apply to the following operator*/
    filter: none;
    -webkit-filter: grayscale(0);
}

.controlCheck[type="checkbox"]:not(:checked) + .buttonIcon{
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: gray; /* IE6-9 */
    background: transparent;

}

.controlCheck[type="checkbox"]:checked + .buttonIcon{
    filter: none;
    -webkit-filter: grayscale(0);
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,0.69) 23%, rgba(34,141,255,0.45) 41%, rgba(36,222,255,0.31) 51%, rgba(36,222,255,0) 74%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(23%, rgba(255,255,255,0.69)), color-stop(41%, rgba(34,141,255,0.45)), color-stop(51%, rgba(36,222,255,0.31)), color-stop(74%, rgba(36,222,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,0.69) 23%, rgba(34,141,255,0.45) 41%, rgba(36,222,255,0.31) 51%, rgba(36,222,255,0) 74%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,0.69) 23%, rgba(34,141,255,0.45) 41%, rgba(36,222,255,0.31) 51%, rgba(36,222,255,0) 74%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,0.69) 23%, rgba(34,141,255,0.45) 41%, rgba(36,222,255,0.31) 51%, rgba(36,222,255,0) 74%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,0.69) 23%, rgba(34,141,255,0.45) 41%, rgba(36,222,255,0.31) 51%, rgba(36,222,255,0) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#24deff', GradientType=1 );
}

.controlButton:hover{  /*tilde tells css to apply to the following operator*/
    text-shadow: 0 0 2.5vw #fff302, 0 0 2.5vw #fff302, 0 0 3.5vw #fff302;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

/*Leaf Let Overriding*/
.popUpIcon{
    width: 2.0vw;
    vertical-align: middle;
    margin: 5px 10px 5px 5px;
}


.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #0a0b2f;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.leaflet-popup-content {
    width:100%;
}

.popTypeDiv{
    width: 100%;
    margin: 0 auto;
    font-family: Ori, Times, serif;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 0 1.5vw #7bdbff, 0 0 1.5vw #517cff, 0 0 2.5vw #212fff;
    font-size: 1.5vw;
    cursor: default;
}

.popAbilityDiv{
    font-family: Moon, Times, serif;
    color: white;
    vertical-align: middle;
    font-size: 1.5vw;
    cursor: default;
}

.popEventDiv{
    font-family: Moon, Times, serif;
    color: white;
    vertical-align: middle;
    font-size: 1.5vw;
    cursor: default;
}

.popDiscDiv{
    font-family: Moon, Times, serif;
    color: white;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5vw;
    cursor: default;
}

#popName{
    margin: 0px 0px 10px 0px;
}

/*Materialize Overriding*/
footer.page-footer{
    padding: 0 0 0 0;
    height: auto;
}
footer.page-footer .footer-copyright{
    font-family: Moon, Times, serif;
    font-size: 20px;
    background-color: #0a0b2f;
}
.dropdown-content{
    background-color: #7e20b3;
    min-width: 100px;
    top : auto;
}
.dropdown-content li > a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}