@font-face {
    font-face-name: Ori;
    font-family: Ori;
    src: url("../font/LEVIBRUSH.TTF");
}

@font-face {
    font-face-name: Moon;
    font-family: Moon;
    src: url("../font/Moon_Flower.ttf");
}

@font-face {
    font-face-name: MoonBold;
    font-family: MoonBold;
    src: url("../font/Moon_Flower_Bold.ttf");
}

html, body {
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d1e58+0,000000+100 */
    background: #1d1e58; /* Old browsers */
    background: -moz-linear-gradient(top,  #1d1e58 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1d1e58 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1d1e58 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1e58', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#map {
    width: 100%;
    height: 60%
}

#mapTitle{
    width: 70%;
    height: 5%;
    margin:0.5vw auto 1.5vw auto;
    text-align: center;
    font-family: Ori, Times, serif;
    font-size: 3.5vw;
    text-shadow: 0 0 1.5vw #fff302;
    color: white;
}

#controlTable tr, #controlTable td{
    padding: 0 0;
}

#controlTitle{
    text-align: center;
    font-family: MoonBold, Times, serif;
    font-size: 2.5vw;
    color: #ffffff;
    cursor: default;
    width: 100%;
    padding: 0;
}

.controlLabel{
    display: block;

    text-align: center;
    font-family: Moon, Times, serif;
    font-size: 2.5vw;
    color: #bdbfe9;
    cursor: default;
}

#controlPanel{
    width: 70%;
    margin:0 auto 0 auto;
}

.controlSpacer{
    padding: 10px;
}

.controlCheck[type="checkbox"]{
    display: none;
}

.buttonIcon{
    width: 3vw;
    vertical-align:middle;
}

.controlButton:hover .buttonIcon{  /*tilde tells css to apply to the following operator*/
    filter: none;
    -webkit-filter: grayscale(0);
}

.controlCheck[type="checkbox"]:not(:checked) + .buttonIcon{
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: gray; /* IE6-9 */

}

.controlCheck[type="checkbox"]:checked + .buttonIcon{
    filter: none;
    -webkit-filter: grayscale(0);

}

.controlButton:hover{  /*tilde tells css to apply to the following operator*/
    text-shadow: 0 0 2.5vw #fff302, 0 0 2.5vw #fff302, 0 0 3.5vw #fff302;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}