/* This is the sass style sheet for the main page
   Compiles to stylesheets mainPage.css
*/
@import "compass";
//Import le fonts
@font-face {
  font-face-name: Ori;
  font-family: Ori;
  src: url("../font/LEVIBRUSH.TTF");
}

//Hide the overflow!
html {
  overflow: hidden;
  height: 100vh;
}

//Parallax Shit, dont apply if on mobile or
@media screen and (min-width: 40em) {
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
    //Set up main body for parallax
    body{
      perspective: 1px;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: scroll;
      transform-style: preserve-3d;
    }

    .css-parallax-container{
      position: relative;
      height: 60vh;
      transform-style: preserve-3d;

    }
    .css-parallax-layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      //-webkit-transform-origin-x: 100%;
      //transform-origin-x: 100%;
    }
    //Since the top is smaller than 100vh we must offset by (100-hieght)/2
    #topImage{
      top: -20vh;
    }
    .css-parallax-back{
      background-image: url('../img/TreeBackground.jpg');
      background-position: center;
      -webkit-transform: translateZ(-1px) scale(2.1);
      transform: translateZ(-1px) scale(2.1);
      z-index:-10;
    }
    .css-parallax-base {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    //Move other containers up
    nav{
      z-index: 0;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    /*.container{
      transform-style: flat;
      z-index: 0;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }*/
    footer{
      z-index: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

#mainTitle {
  text-align: center;
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0%, 50%);
  transform: translate(0%, 50%);

  font-family: Ori;
  font-size: 100%;
  text-shadow: 3px 3px #0004ff;
  color: white;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@include keyframes(fadein) {
  from { opacity: 0; margin-top: 100px;}
  to   { opacity: 1; margin-top: 20vh;}
}


#mainTableDiv{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#53cbf1+0,e0f5f6+100 */
  background: #53cbf1; /* Old browsers */
  background: -moz-linear-gradient(top,  #53cbf1 0%, #e0f5f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #53cbf1 0%, #1000f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #53cbf1 0%, #0700f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53cbf1', endColorstr='#e0f5f6',GradientType=0 ); /* IE6-9 */
}


//KeyFrame Mix In
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}