/* This is the sass style sheet for the main page
   Compiles to stylesheets mainPage.css
*/
@import "compass";
//Import le fonts
@font-face {
  font-face-name: Ori;
  font-family: Ori;
  src: url("../font/LEVIBRUSH.TTF");
}
//Functions
// Create Stars
@function multiple-box-shadow ($n){
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n{
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value)
}

//Variables
$shadows-small:  multiple-box-shadow(700);
$shadows-med:  multiple-box-shadow(100);

//Hide the overflow!
html {
  overflow: hidden;
  height: 100vh;
  min-width: 450px;
}

//Parallax Shit, dont apply if on mobile or
@media screen and (min-width: 640px) {
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
    //Set up main body for parallax
    body{
      perspective: 900px;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: scroll;
      transform-style: preserve-3d;
    }
    //Set up parallax containers
    .css-parallax-container{
      position: relative;
      height: 70vh;
      transform-style: preserve-3d;
    }
    .css-parallax-container-2{
      position: relative;
      transform-style: preserve-3d;
      background: #100e7b;
    }
    .css-parallax-layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    //Adjust specific parallax containes, needs to be before the transformations
    //Since the top is smaller than 100vh we must offset by (100-hieght)/2
    #topImage{
      top: -20vh;
      background-image: url('../img/Working/WorldMap.jpg');
      //background-position: center;
      background-position: 55% 25%;
    }
    #navTableBack{
      //background-position: center;
      background-color: transparent;
    }

    //Move parallax layers
    .css-parallax-back{
      width:100%;
      -webkit-transform: translateZ(-450px) scale(1.51);
      transform: translateZ(-450px) scale(1.51);
      z-index:-10;
    }
    .css-parallax-base {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    .css-parallax-front{
      -webkit-transform: translateZ(100px) scale(.7);
      transform: translateZ(100px) scale(.7);
      z-index:-1;
    }
    //Move other containers up
    nav{
      z-index: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    footer{
      z-index: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  }
}

@media screen and (max-width: 639px) {
  body{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  //Set up parallax containers
  .css-parallax-container{
    position: relative;
    height: 70vh;
  }
  .css-parallax-container-2{
    position: relative;
    background: #100e7b;
  }
  .css-parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  //Adjust specific parallax containes, needs to be before the transformations
  //Since the top is smaller than 100vh we must offset by (100-hieght)/2
  #topImage{
    top: -20vh;
    background-image: url('../img/Working/WorldMap.jpg');
    //background-position: center;
    background-position: 55% 25%;
  }
  #navTableBack{
    background-color: transparent;
  }
  .css-parallax-back{
    width:100%;
    z-index:-10;
  }
  .css-parallax-front{
    z-index:-1;
  }
  nav{
    z-index: 1;
  }
  footer{
    z-index: 1;
  }
}

#starContainer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
//Star background
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  -webkit-animation: animStar 50s linear infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: animStar 50s linear infinite; /* Firefox < 16 */
  -ms-animation: animStar 50s linear infinite; /* Internet Explorer */
  -o-animation: animStar 50s linear infinite; /* Opera < 12.1 */
  animation: animStar 50s linear infinite;
  z-index: 0;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    z-index: 0;
  }
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-med;
  -webkit-animation: animStar 100s linear infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: animStar 100s linear infinite; /* Firefox < 16 */
  -ms-animation: animStar 100s linear infinite; /* Internet Explorer */
  -o-animation: animStar 100s linear infinite; /* Opera < 12.1 */
  animation: animStar 100s linear infinite;
  z-index: 0;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-med;
    z-index: 0;
  }
}

@include keyframes(animStar) {
  from{transform: translateY(0px);}
  to{transform: translateY(-2000px);}
}

#mainTitle {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;

  font-family: Ori, Times, serif;
  font-size: 100%;
  text-shadow: 3px 3px #0004ff;
  color: white;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@include keyframes(fadein) {
  from { opacity: 0; top: 10%;}
  to   { opacity: 1; top: 50%;}
}

/*Map selection Table*/
.mainNavZone{
  position: relative;
  height: 100%;
}

.mainNavZone a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 0 1.5vw #fff302;
}

.mainFadeUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;

  opacity: 0.3;
  background: white;
  display: none;
}

.mainPic {
  max-height: inherit;
  width: 100%;
}

.mainZoneTitle {
  font-family: Ori, Times, serif;
  font-size: 1.8vw;
  text-align: center;
  width: 100%;
}

.mainTitleText{
  display: inline-block;
  width: 100%;
  font-size: 4.5vw;
}

#mainNavTable {
  margin: auto auto;
  padding: 10px;
  text-align: center;
}

/*Footer Materialize Overriding*/
footer.page-footer{
  padding: 0 0 0 0;
  height: auto;
  margin: 0 0;
}
footer.page-footer .footer-copyright{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: #0a0b2f;
}

/*More utilities based stuff*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

//KeyFrame Mix In
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}